body
{
    background: rgb(227, 176, 87);
    color:black;
    font-size: 30px;
    font-weight:lighter;
    text-align:center;
    margin-top: 5px;;
}

.item
{
    border: 2px solid black;
    margin-top: 2px;
    padding: 3px;
}

.bye
{
    display: flex;
    margin-left: 570px;
}

h3{
    font-style: bold;
}

h1{
    color: rgb(189, 112, 112);
    font-family:'Times New Roman', serif;
}
