.main {
    background:rgb(227, 176, 87);
    color: black;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 2px;
    
}

.work
{
    color: #E55807;
    text-shadow: -1px 1px 12px white;
    border-bottom: 1px solid #b94705;
}

.item {
    border: 2px solid black;
    margin-top: 2px;
    padding: 3px;
}

.bye {
    display: flex;
    margin-left: 570px;
}

h3 {
    font-style: bold;
}

h1 {
    margin: 0%;
    color: rgb(189, 112, 112);
    font-family: 'Times New Roman', serif;
}

.space
{
    margin:0;
    background-image:url("https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif") ;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 100vh;

    font-size: 25px;
    color:white;
    text-align: center;
    font-family: 'Orbitron',sans-serif;
    padding: 10px;
   
}

.button
{
    padding: 6px 10px;
    font-weight: bold;
    border-color: aliceblue;
    background: white;
    font-family: inherit;
}

.cta
{
    color:brown;
    border-bottom: 2px dotted brown;
    text-shadow: 1px 1px 9px white ;
}

.box
{
    /* border: 5px solid rgb(134, 105, 134); */
    padding:8px;
    width: 700px;
    margin:10px;
    /* background-color:rgb(134, 105, 134) ; */
    text-align: center;
}


                            /* Personal website css */
.personal
{
    text-align: center;
    font-size: 50px;
}

#line
{
    border-bottom: 1px solid black;
}

                                /*Birthday Website Css*/

.bday
{
    color: white;
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding-top:  7px; ;
    background-color: #a2d2ff;
    text-shadow: 0px 0px 1px black;

    
}

#bf-img
{
     border:7px solid #EFB0C9; 
    border-radius: 100%;
    padding-top: 5px;
}

@media screen and (max-width:400px) 
{
    
    body{
        background-color:rgb(148 163 184);;
    }
}