.main {
    background:rgb(227, 176, 87);
    color: black;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 2px;
    
}

.work
{
    color: #E55807;
    text-shadow: -1px 1px 12px white;
    border-bottom: 1px solid #b94705;
}

.item {
    border: 2px solid black;
    margin-top: 2px;
    padding: 3px;
}

.bye {
    display: flex;
    margin-left: 570px;
}

h3 {
    font-style: bold;
}

h1 {
    margin: 0%;
    color: rgb(189, 112, 112);
    font-family: 'Times New Roman', serif;
}

.space
{
    margin:0;
    background-image:url("https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif") ;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 100vh;

    font-size: 25px;
    color:white;
    text-align: center;
    font-family: 'Orbitron',sans-serif;
    padding: 10px;
   
}

.button
{
    padding: 6px 10px;
    font-weight: bold;
    border-color: aliceblue;
    background: white;
    font-family: inherit;
}

.cta
{
    color:brown;
    border-bottom: 2px dotted brown;
    text-shadow: 1px 1px 9px white ;
}

.box
{
    /* border: 5px solid rgb(134, 105, 134); */
    padding:8px;
    width: 700px;
    margin:10px;
    /* background-color:rgb(134, 105, 134) ; */
    text-align: center;
}


                            /* Personal website css */
.personal
{
    text-align: center;
    font-size: 50px;
}

#line
{
    border-bottom: 1px solid black;
}

                                /*Birthday Website Css*/

.bday
{
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 1px black;   

    padding-top:  7px; ;
    background:linear-gradient(lightblue,pink) ;
    /* background-color: #a2d2ff; */

    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#bf-img
{
    border:5px solid #EFB0C9; 
    border-radius: 100%;
    margin-top: 19px;
    /* padding-top: 5px; */
}

#birth-age
{
    background-color: #EFB0C9 ;
    padding: 5px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#birth-date
{
    background-color: #EFB0C9 ;
    padding: 5px;
    border-radius: 5px;
    
}

.gift-title
{
    margin-top: 70px;
}

.gift-img
{
    margin-top: 3px;
    width: 600px;
    height: 500px;
    border:6px solid white;
    border-radius: 5px; 
    background-image: url("./image/giftCover.jpg");
    background-size: cover;
}

#gift-img-happy:hover
{
    background-image: url("https://media.giphy.com/media/31lPv5L3aIvTi/giphy.gif");
}

#gift-img-hot:hover
{
    background-image: url("https://media.giphy.com/media/LtkRsMZNSChvICUFhV/giphy.gif");
}

#gift-img-genius:hover
{
    background-image: url("https://media.giphy.com/media/oNKLBehxbnoqY/giphy.gif");
}

#gift-img-badass:hover
{
    background-image: url("https://media.giphy.com/media/kiBcwEXegBTACmVOnE/giphy-downsized-large.gif");
}

#gift-img-cheer
{
    height: 400px;
    width: 450px;
    margin-bottom: 20px;
}

#gift-img-cheer:hover
{
    background-image: url("https://media.giphy.com/media/l2Sq2ySYEIl3mzVgk/giphy.gif");
}

.hiii
{
    font-family: 'Orbitron', sans-serif; 
    color: white;
}

@media screen and (max-width:400px) 
{
    body{
        background-color:rgb(148 163 184);;
    }
}